<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Failed Sign On</title>
    <div class="failed">
        <H1>Sign In Attempt Failed</H1>

        <form method="post">
            <label><h6>Email</h6></label>
            <input type="text" name="userId" placeholder="John@gmail.com">

            <label><h6>Password</h6></label>
            <input type="password" name="password" placeholder="123AppleSauce">

            <br>
            <button type="submit" class="btn btn-success">Login</button>
        </form>
    </div>

</head>
<body>

</body>
</html>